:root {
    --primary-color: #0a3d62;
    --secondary-color: #416fa5;
    --text-color: #f9f9f9;
    --card-color: #333;
    --hover-color: #04263e;
  }
  
  .light-theme {
    --primary-color: #787878;
    --secondary-color: #87ceeb;
    --text-color: #333333;
    --card-color: #ffffff;
    --hover-color: #add8e6;;
  }
  
  .purple-theme {
    --primary-color: #9c27b0;
    --secondary-color: #ce93d8;
    --text-color: #f2f2f2;
    --card-color: #7b1fa2;
    --hover-color: #6a1b9a;
  }
  
  .armour-theme{
    --primary-color: #5ac3b0;
    --secondary-color: #f7cd46;
    --text-color: #de5935;
    --card-color: white;
    --hover-color: #de5935;
  }

  .simpatico-theme {
    --primary-color: #1a2238;
    --secondary-color: #ff6a3d;
    --text-color: #f9f9f9;
    --card-color: #cfb451; /* #9daaf2;*/
    --hover-color:#9daaf2; /* You can choose an appropriate hover color */;
  }

header{
    background: var(--primary-color);
    background-size: auto;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

body{
    background-color: var(--primary-color);
    margin: auto;
}

.navbar{
    overflow: hidden;
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: var(--text-color);
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: var(--hover-color);
}
.dropcontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,.2);
    z-index: 1;
}

.dropcontent a{
    float: none;
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
    text-align: center;
}

.dropdown:hover .dropcontent{
    display: block;
}

#theme-switch{
    float: right;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#theme-switch:hover{
    background-color: var(--hover-color);
}

hr{
    color: #ddd;
}

.subjects{
    color: var(--text-color);
    width: 92%;
    text-decoration: underline;
    margin: auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    color: var(--text-color);
    width: 90%;
    margin-top: 6px;
    margin-left: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.3in;
}

#footer{
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px; 
    margin-top: auto;
}

.card {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 20px;              
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
